<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="back_end/management.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>商品資料修改</title>
</head>
<body>

<div th:fragment="content">
    <div class="card w-75 text-center">
        <div class="card-header text-center bold rounded-top">
            <h1>商品資料修改</h1>
        </div>
    <h3><b>所有欄位皆為必填欄位</b></h3>
    <form th:action="@{/merch/doUpdateMerch}" method="post" th:object="${merch}" enctype="multipart/form-data">
        <div class="mb-1 row">
            <label for="merchId" class="form-label col-4">商品編號:</label>
            <input id="merchId" class="form-control col-8" type="text" th:field="*{merchId}" readonly/><br/>
        </div>

        <div class="mb-1 row">
            <label for="merchName" class="form-label col-4">商品姓名:</label>
            <input id="merchName" class="form-control col-8" type="text" th:field="*{merchName}" onclick="hideContent('merchName.errors');"/><br/>
            <span  th:if="${#fields.hasErrors('merchName')}" th:errors="*{merchName}" class="error" id="merchName.errors"></span>
        </div>

        <div class="mb-1 row">
            <label for="merchInfo" class="form-label col-4">商品資訊:</label>
            <input id="merchInfo" class="form-control col-8" type="text" th:field="*{merchInfo}" onclick="hideContent('merchInfo.errors');"/><br/>
            <span  th:if="${#fields.hasErrors('merchInfo')}" th:errors="*{merchInfo}" class="error" id="merchInfo.errors"></span>
        </div>

        <div class="mb-1 row">
            <label for="merchPrice" class="form-label col-4">商品價格:</label>
            <input id="merchPrice" class="form-control col-8" type="text" th:field="*{merchPrice}" onclick="hideContent('merchPrice.errors');"/><br/>
            <span  th:if="${#fields.hasErrors('merchPrice')}" th:errors="*{merchPrice}" class="error" id="merchPrice.errors"></span>
        </div>
        <div class="mb-1 row">
            <label for="merchStatus" class="form-label col-4">狀態:</label>
            <input id="merchStatus" class="form-control col-8" type="text" th:field="*{merchStatus}" onclick="hideContent('merchStatus.errors');"/><br/>
            <span  th:if="${#fields.hasErrors('merchStatus')}" th:errors="*{merchStatus}" class="error" id="merchStatus.errors"></span>
        </div>

                <div class="mb-1 row">
                    <label for="merchImg" class="form-label col-4">照片:</label>
                    <input id="merchImg" class="form-control col-8" type="file" th:field="*{merchImg}" onclick="previewImage()" multiple="multiple" />
                    <!-- 可以不修改圖片 <span  th:if="${#fields.hasErrors('upFiles')}" th:errors="*{upFiles}" class="error" id="upFiles.errors"></span> -->
                    <div id="merchImg"><img th:src="${merch.merchImg}" width="100px"></div>
                </div>

        <div>
            <button class="btn btn-dark" type="submit"> 送出修改<label th:text="${success}"></label></button>

        </div>
    </form>

</div>


<!-- JavaScript part-->
<script type="text/javascript">
    //清除提示信息
    function hideContent(d) {
        document.getElementById(d).style.display = "none";
    }

    //照片上傳-預覽用
    var filereader_support = typeof FileReader != 'undefined';
    <div></div>
    if (!filereader_support) {
        alert("No FileReader support");
    }
    acceptedTypes = {
        'image/png': true,
        'image/jpeg': true,
        'image/gif': true
    };

    function previewImage() {
        var upfile1 = document.getElementById("merchImg");
        upfile1.addEventListener("change", function (event) {
            var files = event.target.files || event.dataTransfer.files;
            for (var i = 0; i < files.length; i++) {
                previewfile(files[i])
            }
        }, false);
    }

    function previewfile(file) {
        if (filereader_support === true && acceptedTypes[file.type] === true) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var image = new Image();
                image.src = event.target.result;
                image.width = 100;
                image.height = 75;
                image.border = 2;
                if (blob_holder.hasChildNodes()) {
                    blob_holder.removeChild(blob_holder.childNodes[0]);
                }
                blob_holder.appendChild(image);
            };
            reader.readAsDataURL(file);
            document.getElementById('submit').disabled = false;
        } else {
            blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
                + "<br>" + "● ContentTyp: " + file.type
                + "<br>" + "● size: " + file.size + "bytes"
                + "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
            document.getElementById('submit').disabled = true;
        }
    }
</script>

</div>
</body>
</html>