<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="back_end/management.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>員工資料管理</title>
</head>
<body>
<div th:fragment="content">
    <div class="card w-100 text-center">
        <div class="card-header text-center bold rounded-top">
            <h1>員工資料管理</h1>
        </div>
        <!-- 錯誤表列 -->
        <div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div>
        <div class="row column-gap-2">
            <div class="col-5">
                <h3>資料查詢:</h3>
                <form class="row" method="post" th:action="@{getOne_For_Display}">
                    <div class="col-3">
                        <label for="empId" class="col-form-label">員工編號:</label>
                    </div>
                    <div class="col-7">
                        <input id="empId" class="form-control" placeholder="(輸入如7001)" type="text" name="empId" th:value="${param.empId}">
                    </div>
                    <input class="col-2 btn btn-dark" type="submit" value="送出">
                </form>
                <form class="row" method="post" th:action="@{getOne_For_Display}">
                    <div class="col-3">
                        <label for="selectId" class="col-form-label">員工編號:</label>
                    </div>
                    <div class="col-7">
                        <select id="selectId" class="form-select col-6" name="empId">
                            <option th:each="emp : ${empListData}" th:value="${emp.empId}" th:text="${emp.empId}"/>
                        </select>
                    </div>
                    <input class="col-2 btn btn-dark" type="submit" value="送出">
                </form>
                <form class="row" method="post" th:action="@{getOne_For_Display}">
                    <div class="col-3">
                        <label for="empName" class="col-form-label">員工姓名:</label>
                    </div>
                    <div class="col-7">
                        <select class="form-select" id="empName" name="empId">
                            <option th:each="emp : ${empListData}" th:value="${emp.empId}" th:text="${emp.empName}"/>
                        </select>
                    </div>
                    <input class="col-2 btn btn-dark" type="submit" value="送出">
                </form>
                <a class="btn btn-dark" href="/emp/addEmp">Add Emp</a>
                <a class="btn btn-dark" href="/emp/listAllEmp">List Emps</a>
            </div>
            <div class="col-5" th:if="${getOne_For_Display}">
                <h3><span>查詢結果 :</span></h3>
                <ul class="list-group">
                    <li class="list-group-item row">
                        <span class="col-2">員工編號:</span>
                        <span class="col-10" th:text="${emp.empId}"></span>
                    </li>
                    <li class="list-group-item row">
                        <span class="col-2">員工姓名:</span>
                        <span class="col-10" th:text="${emp.empName}"></span>
                    </li>
                    <li class="list-group-item row">
                        <span class="col-2">職位:</span>
                        <span class="col-10" th:text="${emp.job.title}"></span>
                    </li>
                    <li class="list-group-item row">
                        <span class="col-2">雇用日期:</span>
                        <span class="col-10" th:text="${emp.hireDate}"></span>
                    </li>
                    <li class="list-group-item row">
                        <span class="col-2">密碼:</span>
                        <span class="col-10" th:text="${emp.empPassword}"></span>
                    </li>
                    <li class="list-group-item row">
                        <span class="col-2">電子信箱:</span>
                        <span class="col-10" th:text="${emp.empEmail}"></span>
                    </li>
                    <li class="list-group-item row">
                        <span class="col-2">狀態:</span>
                        <span class="col-10" th:text="${emp.empStatus}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>