<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="back_end/management.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>員工資料修改</title>
</head>
<body>
<div th:fragment="content">
    <div class="card w-75 text-center">
        <div class="card-header text-center bold rounded-top">
            <h1>員工資料修改</h1>
        </div>
        <h3><b>所有欄位皆為必填欄位</b></h3>
        <form th:action="@{/emp/doUpdateEmp}" method="post" th:object="${emp}" enctype="multipart/form-data">
            <div class="mb-1 row">
                <label for="empId" class="form-label col-4">員工編號:</label>
                <input id="empId" class="form-control col-8" type="text" th:field="*{empId}" readonly/><br/>
            </div>
            <div class="mb-1 row">
                <label for="empName" class="form-label col-4">員工姓名:</label>
                <input id="empName" class="form-control col-8" type="text" th:field="*{empName}" onclick="hideContent('empName.errors');"/><br/>
                <span th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}" class="error"
                      id="empName.errors"></span>
            </div>
            <div class="mb-1 row">
                <label for="hireDate" class="form-label col-4">雇用日期:</label>
                <input id="hireDate" class="form-control col-8" type="date" th:field="*{hireDate}" onclick="hideContent('hireDate.errors');"/><br/>
                <span th:if="${#fields.hasErrors('hireDate')}" th:errors="*{hireDate}" class="error"
                      id="hireDate.errors"></span>
            </div>
            <div class="mb-1 row">
                <label for="empPassword" class="form-label col-4">密碼:</label>
                <input id="empPassword" class="form-control col-8" type="text" th:field="*{empPassword}" onclick="hideContent('empPassword.errors');"/><br/>
                <span th:if="${#fields.hasErrors('empPassword')}" th:errors="*{empPassword}" class="error"
                      id="empPassword.errors"></span>
            </div>
            <div class="mb-1 row">
                <label for="empEmail" class="form-label col-4">電子信箱:</label>
                <input id="empEmail" class="form-control col-8" type="text" th:field="*{empEmail}" onclick="hideContent('empEmail.errors');"/><br/>
                <span th:if="${#fields.hasErrors('empEmail')}" th:errors="*{empEmail}" class="error"
                      id="empEmail.errors"></span>
            </div>
            <div class="mb-1 row">
                <label for="empStatus" class="form-label col-4">狀態:</label>
                <input id="empStatus" class="form-control col-8" type="text" th:field="*{empStatus}" onclick="hideContent('empStatus.errors');"/><br/>
                <span th:if="${#fields.hasErrors('empStatus')}" th:errors="*{empStatus}" class="error"
                      id="empStatus.errors"></span>
            </div>
            <div class="mb-1 row">
                <label class="form-label col-4">職稱:</label>
                <select class="form-select col-8" th:field="*{job.jobId}">
                    <option th:each="job : ${jobListData}" th:value="${job.jobId}" th:text="${job.title}"/>
                </select>
                <span th:if="${#fields.hasErrors('job.jobId')}" th:errors="*{job.jobId}" class="error"
                      id="job.jobId.errors"></span>
            </div>
            <button class="btn btn-dark" type="submit"> 送出修改</button>
        </form>

    </div>
</div>
</body>
</html>