<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="back_end/management.html">
<head>
    <title>世界影城</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
<div th:fragment="content">
    <form action="/func" method="post" th:object="${funcPermsVoList}">
        <table class="table align-middle">
            <tr class="table-light">
                <th>職位</th>
                <th th:each="func : ${funcPermsVoList.list[0].funcs}" th:text="${func.func}">權限</th>
            </tr>
            <tr th:each="funcPerms, funcIndex : ${funcPermsVoList.list}">
                <td th:text="${funcPerms.jobVo.title}"></td>
                <input type="hidden" th:field="*{list[__${funcIndex.index}__].jobVo.jobId}"/>
                <input type="hidden" th:field="*{list[__${funcIndex.index}__].jobVo.title}"/>
                <td th:each="func, idx : ${funcPerms.funcs}">
                    <div>
                        <input type="checkbox"
                               th:id="'func_' + ${func.funcId}"
                               th:name="list[__${funcIndex.index}__].funcs[__${idx.index}__].checked"
                               th:field="*{list[__${funcIndex.index}__].funcs[__${idx.index}__].checked}"
                               th:checked="${func.checked}"/>
                    </div>
                    <input type="hidden"
                           th:field="*{list[__${funcIndex.index}__].funcs[__${idx.index}__].funcId}"/>
                    <input type="hidden"
                           th:field="*{list[__${funcIndex.index}__].funcs[__${idx.index}__].func}"/>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">提交</button>
    </form>
</div>
</body>
</html>
